
.intro{
  margin-left: -1%;
}
.circle-border{

  width: 14.9rem;
  height: 14.9rem;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  border: 0.105vw solid #3d6cb0;
  display: flex;
  justify-content:center;
  align-items: center;
  margin-left:23.5%;

}
.circle {
  width: 13.125rem;
  height: 13.125rem;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  background-color: #3d6cb0;
}
.name{
  display: flex;
  flex-direction: column;
  margin-top: 2.375rem;
}
.name__name{
  /* Style for "NAME HERE" */
  color: #000000;
  font-family: "MyriadPro-LightSemiExt";
  font-size: 3.375rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 18.45%;
  margin-top: -0.8rem;
  letter-spacing: 0.015rem;
}
.name__surname {
  /* Style for "SURNAME" */
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 17.7%;
  margin-top: -1rem;
}
.name__prof{
  /* Style for "GRAPHIC DE" */
  justify-content: center;
  color: #000000;
  font-family: "Myriad Pro";
  font-size: 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left:26%;
  letter-spacing: -0.037rem;
}
