style
    include ./styles/contact.scss
.contact
    .contact-title
        .contact-title__icon
            img(src="./components/contact/img/Phone_Icon.png")
        .contact-title__text Contact
        .contact-title__line
    .contact-info
        .contact__left
            | Address
            br
            |               E-mail
            br
            |               Phone
            br
            |               Website
        .contact__right
            | Main Street, City.
            br
            |               contact@domain.com
            br
            |               555-555-555
            br
            |               www.yourweb.com
