style
    include ./styles/software.scss
.software
    .software-title
        .software-title__icon
            img(src="./components/software/img/SOFTWARE_ICON.png")
        .software-title__text Software
        .software-title__line
    .software-info
        .software__left
            .software_item
                .software-item__name Photoshop
                .software-item__graph
                    progress(value='391', max='429')
            .software_item
                .software-item__name Illustrator
                .software-item__graph
                    progress(value='303', max='429')
            .software_item
                .software-item__name Indesign
                .software-item__graph
                    progress(value='242', max='429')
        .software__right
            .software_item
                .software-item__name Dreamweaver
                .software-item__graph
                    progress(value='357', max='429')
            .software_item
                .software-item__name After Effects
                .software-item__graph
                    progress(value='265', max='429')
            .software_item
                .software-item__name Html&amp;Css3
                .software-item__graph
                    progress(value='391', max='429')