doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Resume
  body
    .wrapper
      .wrapper__left
        include ./components/intro/intro.pug
        include ./components/profile/profile.pug
        include ./components/contact/contact.pug
        include ./components/skills/skills.pug
      .wrapper__right
        include ./components/education/education.pug
        include ./components/experience/experience.pug
        include ./components/software/software.pug
