doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Resume
  body
    .wrapper-container
      .wrapper__left
        include ./components/intro/intro.pug
        include ./components/profile/profile.pug
        include ./components/contact/contact.pug
      .wrapper__right
